.elementor-9147 .elementor-element.elementor-element-7a4fa7ea > .elementor-container{max-width:1280px;}.elementor-9147 .elementor-element.elementor-element-4071b670 > .elementor-widget-container{margin:86px 0px 0px 03px;padding:0px 0px 0px 20px;}.elementor-9147 .elementor-element.elementor-element-4a2d0ea2 > .elementor-element-populated{padding:20px 0px 0px 0px;}.elementor-9147 .elementor-element.elementor-element-9d53ab9 > .elementor-widget-container{padding:10px 30px 0px 30px;}:root{--page-title-display:none;}@media(max-width:767px){.elementor-9147 .elementor-element.elementor-element-7ef4bebf > .elementor-widget-container{padding:85px 0px 0px 0px;}}@media(min-width:768px){.elementor-9147 .elementor-element.elementor-element-5a815470{width:21.141%;}.elementor-9147 .elementor-element.elementor-element-4a2d0ea2{width:78.859%;}}/* Start custom CSS for text-editor, class: .elementor-element-9d53ab9 */#rj-post-filter
{
   background: transparent;
}
.ps-posts__filter.ps-posts__filter--hashtag.ps-js-dropdown.ps-js-activitystream-filter
{
    display: none;
}
div#rj-post-search
{
    width:76px;
}
.ps-posts__filter.ps-posts__filter--search.ps-js-dropdown.ps-js-activitystream-filter
{
    border-radius: 20px;
}

a.ps-posts__filter-toggle.ps-js-dropdown-toggle
{
    border-radius: 20px !important;
}
div#rj-post-search
{
    width: auto !important;
}
.ps-posts__filter.ps-posts__filter--search.ps-js-dropdown.ps-js-activitystream-filter
{
    width: 100px !important;
    
}/* End custom CSS */
/* Start custom CSS */.ps-navbar__inner {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: 40px;
    display: none;
}

.ps-post__title .ps-tag__link:first-of-type {
    font-weight: bold;
    color: #FF4081;
}
.psw-profile__menu-item {
    display: block;
    padding: var(--PADD) var(--PADD--MD);
    font-size: 80%;
    color: #535353;
    border-bottom: 1px solid var(--DIVIDER--LIGHT);
}




/*WRITTEN BY RIYAJ FRONT PAGE CUSTOMISE CSS FOR ELEMENTOR*/

.ps-navbar
{
	box-shadow:none;
}
/*body#body {
    background-color: #FAFFFF;
}*/

a:hover {
    color: var(--GC-COLOR--LINK);
}

#fixed-bottom-menu {
    border-top: 1px solid #d3d3d3;
}

.fixed-bottom-menu-item a {
    border-right: 1px solid #d3d3d3;
}

.gc-header__cart
{
	width:250px;
	margin-top:20px;
}

.gc-header__cart-toggle
{
	padding: var(--PADD--SM);
}

.gc-header__widget a:hover
{
	color: rgb(74 173 192);
}

.gc-header__cart-toggle i 
{
    min-width: 32px;
}

.gc-header__cart-toggle:hover {
    color: rgb(74 173 192);
}

.psw-friends__more {
    margin-top: 15px;
    text-align: center;
}

.elementor-button {
    background-color: #00acc1 !important;
}

i.gcis.gci-angle-up {
    font-size: 22px;
}

a.cmdm-add-download-btn {
    border-radius: 20px;
    border: 1px solid #4aadc0 !important;
}

.ps-js-form-login > .ps-form__row > .ps-form__field > .ps-input
{
	width:100%;
}

.ps-checkbox__input:checked+.ps-checkbox__label:before
{
	width:32px !important;
	height:12px !important;
}

.ps-checkbox--switch .ps-checkbox__label:before
{
	width:32px !important;
	height:12px !important;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
	border-radius:20px !important;
	font-size:14px !important;
}
.ps-form__field--icon>i {
display:none !important;
}
.ps-btn--login {
    background-color: #ffffff !important;
    border-radius: 20px !important;
    width: 100% !important;
    text-align: center !important;
    display: block;
    font-size: 14px !important;
    border: 2px solid #00acc1;
    color: #00acc1;
    padding: 9px;
}

.ps-btn--login:hover
{
color:#00acc1;	
}

.ps-checkbox--login {
    font-size: 13px !important;
}

.ps-checkbox__label:before 
{
        width: 18px !important;
    height: 18px !important;
    min-width: 12px !important;
    font-size: 12px !important;
}

.ps-modal__header.ps-dialog-header {
    padding: 15px;
    background-color: #00acc1 !important;
}
.ps-modal__container
{
	background-color:#0000001f;
}
.ps-btn--action
{
	border-radius:20px;
	background-color:#00acc1;
	font-size:12px;
	padding:9px;
}
.ps-btn--action:hover{
	background-color:#03a0b3;
}

.peepso-datepicker td .ui-state-active, .peepso-datepicker td .ui-state-hover
{
	background-color:#ffffff;
	color:#00acc1;
}

select.ui-datepicker-month,
select.ui-datepicker-year {
    padding: 6px;
    margin: 3px !important;
}

.ps-modal__close 
{
    padding: 15px !important;
}
.ps-modal__content
{
	font-size:14px;
}

.ps-form__field-desc
{
	font-size:12px;
}
.ps-form__label
{
	font-size:12px;
}
.ps-form__message {
    font-size: 12px;
}
.ps-page--register
{
	box-shadow:none;
}
.ps-checkbox__label
{
	font-size:13px;
	color:#737373;
}

.psw--login--tnc, .ps-form__message {
    font-size: 12px !important;
    margin: 0px 0px !important;
    text-align: center !important;
	color:#737373;
}

.ps-form__grid .ps-form__row--submit {
    margin-top: 10px;
}

.psw--login--tnc > a {
	color:#737373;
}
.ps-form__message > a
{
	color:#737373;
	font-weight:600;
}

a.psf-login__link--register {
    background-color: #00acc1;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
}

a.psf-login__link--recover {
    text-align: center;
    margin-bottom: 20px;
    font-size: 13px;
    color: #00acc1;
}

/*REGISTRATION PAGE*/
.ps-form__field > button.ps-btn.ps-btn--action {
    width: 100%;
}
.datepicker {
    background-color: #ffffff !important;
    border: 1px solid #eeeeeedb !important;
}

#ui-datepicker-div
{
	background-color:#00acc1 !important;
	border-radius:8px !important;
 box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.ui-datepicker td > a:hover, .ui-datepicker td:hover {
  
    background-color: #ffffff !important;
    border-radius: 3px;
	color:#00acc1 !important;
}

.ui-datepicker td
{
	border-radius:5px;
}


/*password recovered page css*/
.ps-page--register-recover > p {
    font-size: 13px;
    color: #737373;
}

a.ps-btn {
    border-radius: 20px;
	font-size:13px;
}

/*WRITTEN BY RIYAJ THEME CUSTOMISE CSS*/
.gc-widget__title
{
	background-color:rgb(229, 247, 249);
	border-top-right-radius:20px;
	border-top-left-radius:20px;
}

.gc-widget__title > h3
{
	color:#757575;
	text-align:center;
	font-size:16px;
}

.gc-widget--bordered {
    background-color: #ffffff;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

div#peepsowidgetme-3, div#postbox-main, .ps-post {
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.gecko .psw-avatar--profile
{
	//margin-top:-60px;
}

.gc-widget
{
	border-radius:20px;

	
}


div#peepsowidgetme-3
{
	margin-top:65px;
	border-radius:20px;
	padding-bottom:20px;
}
.ps-js-widget-me-cover
{
background-image: linear-gradient(90deg, #00ACC1 21%, #00acc1 60%) !important;
    width: 100%;
	display:none;
}
.psw-profile__avatar
{
	
}

.gecko .psw-profile__cover
{
	margin-left:0px;
	margin-right:0px;
}

#peepsowidgetme-3
{
	padding:0px;
}

.gecko .psw-profile__menu {
    margin-left: auto;
    margin-right: auto;
}

.gecko .psw-profile__menu-title {
    margin-left: auto;
    margin-right: auto;
}
.psw-profile__progress-bar
{
	width:90%;
	margin:5%
}

img.ps-js-widget-me-avatar
{
	margin-top:-66px;
}
.post--page
{
	margin-top: -17px;
}

.psw-profile__header {
    
    background: #00acc1;
    padding-bottom: 10px;
	border-top-right-radius:20px;
	border-top-left-radius:20px;
		
}

.psw-profile__progress-bar>span
{
	background-color:#FF4081;
}

.psw-profile__progress-bar
{
	background-color:#ffffff;
}
.psw-profile__progress-bar
{
	height:7px !important;
}
.psw-profile__progress-bar>span
{
	height:7px !important;
}

.psw-profile__progress-message>a , .psw-profile__title a 
{
	color:#ffffff ;
}

a.ps-avatar.psw-avatar--profile {
    width: 105px;
}



/*written by riyaj for people you might know*/


.block {
  overflow: hidden;
  background: #ffffff;
  max-width: 100%;
	margin-bottom:15px;
	
}
.block img {
  width: 45px;
  height: 45px;
  float: left;
  margin: 0 1rem 0 0;
  border-radius: 50%
}
.block h2 {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 4px;
}
.block p {
  font-size: 11px;
  margin-bottom: 0px;
  color: #737373;
}
.thunder_button_icon
{
	height:18px !important;
    width: 100% !important;
}



.btn-group button {
  background-color:#ffffff; /* Green background */
  border: none; /* Green border */
  color: #00acc1; /* White text */
 
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
	font-size:80%;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #00acc126;
}

.left
{
    border-radius:20px;
	 padding: 2px 0px; /* Some padding */
position:relative;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall {
      width: 18px;
    position: relative;
    top: 3px;
    left: -3px;
}

.right
{
    border-radius: 20px;
    border: 1px solid #FF4081 !important;
	 padding: 2px 0px; /* Some padding */
	
}

.see_all_btn {
    font-size: 14px;
    text-align: center;
    color: #737373;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 3px 0px;
}
.see_all_btn:hover
{
	background-color:#eeeeee;
}

hr {
    width: 100%;
    height: 1px !important;
    margin: 15px 0px !important;
}
a.gc-scroll__to-top.js-scroll-top {
    background-color: #00acc1 !important;
    border-radius: 50%;
	margin-bottom: 45px;
}

div#menu {
    background-color: #00acc1;
}

.gc-js-header-menu-close {
    background-color: #00acc1;
}

.ps-modal__header
{
	background-color:#00acc1 !important;
	padding:15px !important;
}

.ps-form__row {
    margin-bottom: 5px !important;
}

.ui-datepicker .ui-datepicker-buttonpane button
{
	font-weight:200;
	font-size:12px;
	margin-bottom: 10px;
}

.peepso-datepicker .ui-datepicker th {
    padding: 10px 0;
    background: #ffffff;
}


a.ps-js-btn-showterms {
    font-size: 12px;
}
.ps-form__row.ps-form__row--checkbox {
    margin-top: 9px;
}

.elementor-223 .elementor-element.elementor-element-4f2ba26c .elementor-image img {
    width: 140px;
    max-width: 140px;
}

.elementor-element.elementor-element-4f2ba26c.elementor-widget.elementor-widget-image {
    margin-bottom: 5px;
}

/*GROUP ITEM SHOW LAYOUT CSS WRITTEN BY RIYAJ*/
.ps-avatar--group
{
	bottom:15px;
}

.ps-group__privacy {
    display: inline;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
}

.ps-group__privacy>span {
    background-color: #ffffff;
}

.ps-group__details-item.cus_member_count {
    float: right;
    padding-top: 5px;
}

a.ps-group__details-item.ps-group__details-item--more.ps-link--more.ps-js-more {
    display: inline-block;
}

.ps-group__desc
{
	margin-bottom:5px !important;
}
.cus_group_name
{
	padding-top:15px !important;
}

.cus_group_card
{
	border-radius:20px;
	box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.cus_group_header
{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	height:115px !important;
}

.ps-group__details-item--more
{
	font-weight:none !important;
}

.cus_avatar_group_logo
{
	width:80px !important;
	box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.cus_group_owner_name
{
	margin-top:15px;
}

.cus_group_more_button
{
	font-weight:400 !important;
}

.psw-profile__menu-item:hover
{
	background-color:#D5F6FA;
}



.gc-footer__rights > a
{
	color:#535353 !important;
}



.ps-member__buttons .ps-member__action
{
	font-size:inherit !important;
}

.ps-group__body
{
	padding-bottom:15px;
}
.ps-groups__list--single .ps-group__inner
{
padding-bottom:5px;
}

.ps-groups__list--single .ps-group__body
{
	padding-left:30px;
}

body, #content, .entry-content, .post-content, .page-content, .post-excerpt, .entry-summary, .entry-excerpt, .widget-area, .widget, .sidebar, #sidebar, footer, .footer, #footer, .site-footer
{
	font-size:15px !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	font-size:13px;
}

.psw-profile__menu-item
{
	font-size:13px !important;
}

.ps-comments__input
{
	font-size:13px;
}

.ps-post__action>span {
    font-size: inherit !important;
}

.ps-btn--xs
{
	font-size:inherit !important;
}

.current-menu-item a {
    color: #fce77d !important;
    background: #f96167 !important;
}

/*custom group_categories_block widget ui*/
.group_categories_block
{
    overflow: hidden;
    background: #ffffff;
    max-width: 100%;
	cursor:pointer;
}


.group_categories_block img {
    width: 70px;
    height: 70px;
    float: left;
    margin: 0 1rem 0 0;
box-shadow:	1px 4px 7px -1px rgba(0,0,0,.5);
	border-radius: 4px;
	margin-bottom: 8px;
	margin-left: 15px;
}

.group_categories_block h2 {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 4px;
}

.group_categories_block p {
        font-size: 11px;
    color: #737373;
    margin: 8px 0px;
}


.ps-groups__tab:last-child>a {
    border-top-right-radius: var(--BORDER-RADIUS--MD);
    border-bottom-right-radius: var(--BORDER-RADIUS--MD);
    display: none;
}

/*Disable Avtar */
.ps-avatar--group img {
    border: none;
    box-shadow: 0 0 0 3px var(--PS-COLOR--APP);
	display:none;
}

/*disable avator */
.ps-groups__tabs-inner:first-child {
    margin-top: 0;
    display: none;
}





/*my profile tab style written by riyaj*/
.ps-focus__menu-item
{
    border-radius: 20px;
    border: 1px solid #00acc1 !important;
}


.ps-focus__menu-item--active {
    background-color: #00acc1 !important;
    color: #ffffff !important;
}

.ps-focus__menu
{
border:none !important;	

}

.ps-focus__menu-item--active:after
{
	display:none !important;
}


/*custom new landing page side group category view*/
h2.widgettitle {
    background: rgb(229, 247, 249);
    text-align: center;
    padding: 12px;
    font-weight: 500;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: -17px;
	
	color: #757575;
    font-size: 16px;
}

li#custom_html-8 {
    border-radius:20px;
}


	.cus_hr {
       width: 100%;
    height: 1px !important;
    margin: 9px 0px !important;
    background: #eee !important;
    margin-bottom: 12px !important;
}

.group_category_see_all {
    font-size: 14px;
    text-align: center;
    color: #737373;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 3px 0px;
	margin-bottom:15px;
}

.group_category_see_all:hover
{
    background-color: #eeeeee;
}

.psw-profile__menu > a.active {
    background: #D5F6FA;
    color: #535353;
}

.psw-profile__menu > a.active > i {
    color: #00acc1;
}

.psw-profile__menu > a > i {
    color: #737373;
}
/*Added by Rishabh*/
.ps-posts__filter--myposts{
    display: none;
}
.ps-posts__filter--type{
	display: none;
}
.ps-btn__group{
	display: none;
}
.peepsowidgetlatestmembers-3
{
	display: none;
}


/* Remove avatar from Groups */
.ps-group__profile-focus-avatar {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    display: none;
}


::marker {
    content: "";
}


#wpadverts-widget-categories-3
{
	display:none;
}

#communityfeed
{
	margin-right:3px;
}
/* about font small size */
.gc-footer__rights > a {
    color: #535353 !important;
    font-size: x-small;
}

/* 3 dot color */
.ps-post__options-menu>a {
    color: #FF4081;
}


input[type=text], input[type=password], input[type=email], input[type=tel] {
    border-radius: 20px !important;
    font-size: 12px !important;
    padding: 10px 15px !important;
}

/*header section css by riyaj*/
.gc-header
{
	height:60px;
}

body#body {
    padding-top: 60px;
}



.elementor-213 .elementor-element.elementor-element-f18bfb9 .elementor-image img
{
	width:140px;
	max-width:140px;
	margin-bottom:10px;
}


.ps-js-form-login > .ps-form__row > .ps-form__field > .ps-input
{
	margin-bottom: 10px;
    padding: 11px 15px !important;
}

.ps-post__action--reaction {
    color: #00acc1 !important;
}
/*media query for registration page*/

@media only screen and (max-width: 768px) {
	
	img.gc-logo__image {
    width: 115px;
}
	
 .elementor-element.elementor-element-5537f489.elementor-widget.elementor-widget-heading, .elementor-element.elementor-element-ef3efaa.elementor-widget.elementor-widget-heading , .elementor-element.elementor-element-01c266c.elementor-widget.elementor-widget-heading , .elementor-element.elementor-element-47bb67da.elementor-widget.elementor-widget-heading , .elementor-column.elementor-col-20.elementor-inner-column.elementor-element.elementor-element-7b9593e {
    display: none;
}
	.elementor-223 .elementor-element.elementor-element-23df7978:not(.elementor-motion-effects-element-type-background), .elementor-223 .elementor-element.elementor-element-23df7978 > .elementor-motion-effects-container > .elementor-motion-effects-layer , .elementor-213 .elementor-element.elementor-element-e9cbae4:not(.elementor-motion-effects-element-type-background), .elementor-213 .elementor-element.elementor-element-e9cbae4 > .elementor-motion-effects-container > .elementor-motion-effects-layer , .elementor-225 .elementor-element.elementor-element-64647ee6:not(.elementor-motion-effects-element-type-background), .elementor-225 .elementor-element.elementor-element-64647ee6 > .elementor-motion-effects-container > .elementor-motion-effects-layer
	{
		background-image:none;
	}
	
	.elementor-column.elementor-col-20.elementor-inner-column.elementor-element.elementor-element-696cec98,
	.elementor-column.elementor-col-20.elementor-inner-column.elementor-element.elementor-element-66eac0a8 , .elementor-element.elementor-element-f81bb42.elementor-widget.elementor-widget-image , .elementor-element.elementor-element-29f433b5.elementor-widget.elementor-widget-image
	{
		display:none;
	}
	
	.elementor-element.elementor-element-4f2ba26c.elementor-widget.elementor-widget-image
	{
		margin-top:30px;
	}
	
	.ps-form__row--submit > .ps-form__field
	{
		width:100%;
	}
	
	.ps-page.ps-page--register.ps-page--register-main {
    padding: 0px;
    padding-top: 20px;
}
	
	.elementor-column-gap-wide>.elementor-row>.elementor-column>.elementor-element-populated
	{
		padding:0px;
	}
	
	.ps-page--register-recover > p
	{
		font-size:13px;
	}
	
	.ps-page.ps-page--register.ps-page--register-main , .psw-login.psw-login--vertical {
    padding: 15px;
}
	
	.elementor-element.elementor-element-f18bfb9.elementor-widget.elementor-widget-image {
    margin-top: 62px;
}
	
	.ps-page.ps-page--register.ps-page--register-recover > h2 {
    font-weight: 500;
    margin-bottom: 15px;
}
	
	form#recoverpasswordform > .ps-form__grid > .ps-form__row > .ps-btn {
    padding: 9px 15px;
}
	
}


#peepsowidgethashtags-4
{display:none;}

.ps-posts__filters-group
{
	box-shadow:none;
}

a.ps-posts__filter-toggle.ps-js-dropdown-toggle {
    border: 1px solid #eee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.ps-posts__filter.ps-posts__filter--hashtag.ps-js-dropdown.ps-js-activitystream-filter
{
	 border: 1px solid #eee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.ps-postbox__footer.ps-js-postbox-footer.ps-postbox-tab.selected.interactions
{
	display:block !important;
}

.ps-postbox__actions.ps-postbox-action {
    display: block;
    text-align: right;
}

.ps-postbox__actions.ps-postbox-action > button {
    padding: 8px 20px;
    border-radius: 20px;
    width: 63px;
}

.ps-posts__filter-search {
    padding: 10px 0px;
}

.ps-posts__filter-search .ps-input
{
	box-shadow:aquamarine;
}

#elementor-library-9
{
	display:none;
}

#elementor-library-11
{
	display:none;
}

.ps-focus__menu.ps-js-focus__menu {
   // overflow: hidden;
}

i.dashicons.dashicons-edit-page, i.dashicons.dashicons-media-document {
    height: 13px;
}




.gc-logo__image > .custom-logo-link > img.custom-logo {
    width: 115px !important;
	margin-left:57px;
}

.ps-form__error-item {
    font-size: 12px;
    padding: 3px 0px;
}

/*

/*NEW GROUP CATEGORY CSS WRITTEN BY RIYAJ FOR RISHABH
 * 
 * 
.elementor-column.elementor-col-100.elementor-top-column.elementor-element.elementor-element-707bf7e7 > .elementor-column-wrap {
    padding: 0px !important;
}

.elementor-inner-section {
    background-color: #ffffff;
	box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
	border-radius: 20px;
    margin-bottom: 15px !important;
}
*/

.fixed-bottom-menu-text {
    font-size: 12px !important;
}
.fixed-bottom-menu-item a
{
	padding:10px !important;
	border:none !important;
	color:#737373 !important;
}

.fixed-bottom-menu-item a:hover
{
	color:#00acc1 !important;
}
/* DWQA Ask */
div.bbp-breadcrumb, div.bbp-topic-tags {
    font-size: 12px;
    display: none;
}


/*forum css*/
.dwqa-question-filter a {
    border: none !important;
    text-decoration: none;
    border: 1px solid #00acc1 !important;
    padding: 8px 9px;
    border-radius: 20px;
	display:inline-block;
	margin:2px;
}

.dwqa-question-filter {
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

select#dwqa-sort-by {
        margin-top: 1px;
    display: block;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid #00acc1;
    color: #00acc1;
    font-size: 13px;
}

.dwqa-question-item .dwqa-status {
    padding: 6px 5px;
    border-radius: 3px;
    margin-right: 5px;
    font-size: 12px;
    margin-top: 2px !important;
    line-height: 7px !important;
    display: inline-block;
}

.dwqa-questions-list .dwqa-question-item {
    padding: 15px 180px 15px 80px;
    border-radius: 10px;
    margin-bottom: 15px;
	box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}
.dwqa-questions-list
{
	border:none;
}

.dwqa-questions-list .dwqa-question-item .dwqa-question-stats span
{
	border-radius:10px;
}

.dwqa-questions-footer .dwqa-ask-question a {
	margin-top:15px;
    padding: 11px 15px;
    border: 1px solid #00acc1;
    border-radius: 20px;
}



.dwqa-content-edit-form > input[type="submit"] {
    border-radius: 20px;
    border: 1px solid #00acc1;
    background-color: #00acc1;
    padding: 8px 15px;
    color: #ffffff;
}

div#mceu_11, div#wp-question-content-editor-container {
    border-bottom-left-radius: 20px !important;
	 border-bottom-right-radius
}
div#mceu_22 , div#mceu_22-body , div#mceu_23 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	
}

div#mceu_13 , div#mceu_12 , div#mceu_13-body , div#mceu_12-body {
   // border-top-left-radius: 20px;
   // border-top-right-radius: 20px;
}


/*forum widget style*/
.cus_forum_widget_wrapper
{
width:100%;
position:relative;
text-align:center;
}
.cus_forum_inner_widget_block
{
width:41%;
display:inline-block;
text-align:center;
padding:10px 0px;
}
.cus_forum_inner_widget_block > p
{
margin-top:10px;
	margin-bottom:0px;
}

.cus_forum_icon
{
    width: 20px;
    color:#757575;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 36px;
    padding-bottom: 10px;
    font-size: 24px;
    border-radius: 50%;
}

.ask_icon
{
	background-color:#ff408163;
}
.ans_icon
{
		background-color:#fdf17594;
}
.draft_icon
{
		background-color:#00acc173;
}

.cus_forum_widget_footer
{
position:relative;
text-align:center;
}
.cus_forum_widget_action
{
width:45%;
display:inline-block;
text-decoration:none;
}
.cus_forum_hr
{
margin:0px;
}

#custom_html-17 , #elementor-library-13
{
	display:none;
}

.dwqa-question-filter a.active
{
	background-color:#00acc1;
	color:#ffffff;
	border-color:none;
}
/*
.dwqa-question-item .avatar {
    position: absolute;
    left: 15px;
    top: 0;
    border-radius: 48px;
    display: none;
} */

.dwqa-questions-footer .dwqa-ask-question a {
    margin-top: 15px;
    padding: 11px 15px;
    border: 1px solid #00acc1;
    border-radius: 20px;
    display: none;
}


@media (max-width: 480px)
{
.dwqa-questions-list .dwqa-question-item .avatar {
     position: absolute !important; 
     width: inherit !important; 
   height: inherit !important; 
     margin-right: 0px !important; 
}
	
	.dwqa-questions-list .dwqa-question-item {
		padding:15px !important;
    padding-left: 75px !important;
}
}

@media (max-width: 768px)
{
.dwqa-questions-list .dwqa-question-item {
    padding:15px !important;
    padding-left: 75px !important;
}
	
	.dwqa-questions-list .dwqa-question-item .dwqa-question-stats {
    position: relative !important;
    display: inline-block !important;
    margin: 0px !important;
    margin-top: 10px !important;
    text-align: center !important;
    margin-left: 5px !important;
}
}/* End custom CSS */