* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins';
    font-size: 13px;
    color: #242427;
    overflow-x: hidden;
  }
  body a {
    color: inherit;
    text-decoration: none;
  }
  
  
  .header {
    text-align: center;
  }
  
  .header__title {
    font-size: 31px;
    padding: 30px;
    font-weight: 600;
    color: #757575;
  }
  
  .content {
    width: 95%;
    margin: 0 auto 50px;
    margin-bottom: 0px;
  }
  
  .content__title {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
  }
  
  .content__title--m-sm {
    margin-bottom: 10px;
  }
  
  .multisteps-form__progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
  
  .multisteps-form__progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    color: rgba(108, 117, 125, 0.7);
    text-indent: 1px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
  }
  @media (min-width: 500px) {
    .multisteps-form__progress-btn {
      text-indent: 0;
    }
  }
  .multisteps-form__progress-btn:before {
    position: absolute;
    top: -13px;
    left: 50%;
    display: block;
    width: 35px;
    height: 35px;
    content: '';
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 3;
  
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00acc1;
  
  }
  .multisteps-form__progress-btn:after {
    position: absolute;
    top: 2px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 4px;
    content: '';
    background-color: currentColor;
    z-index: 1;
  }
  .multisteps-form__progress-btn:first-child:after {
    display: none;
  }
  .multisteps-form__progress-btn.js-active {
    color: #FF4081;
  }
  .multisteps-form__progress-btn.js-active:before {
   /*
    -webkit-transform: translateX(-50%) scale(1.2);
            transform: translateX(-50%) scale(1.2);
  */
    background-color: #FF4081;
  }
  
  .multisteps-form__form {
    position: relative;
  }
  
  .multisteps-form__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  }
  .multisteps-form__panel.js-active {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
  .multisteps-form__panel[data-animation="scaleOut"] {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .multisteps-form__panel[data-animation="scaleOut"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .multisteps-form__panel[data-animation="slideHorz"] {
    left: 50px;
  }
  .multisteps-form__panel[data-animation="slideHorz"].js-active {
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
    transition-delay: 0s;
    left: 0;
  }
  .multisteps-form__panel[data-animation="slideVert"] {
    top: 30px;
  }
  .multisteps-form__panel[data-animation="slideVert"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    top: 0;
  }
  .multisteps-form__panel[data-animation="fadeIn"].js-active {
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0s;
  }
  .multisteps-form__panel[data-animation="scaleIn"] {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .multisteps-form__panel[data-animation="scaleIn"].js-active {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  
  /*custom css*/
  
  
      /*view profile bio css start here by riay*/
      .cus_ps_modal_wide {
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
    }
  
    .cus_ps_modal_headre {
        padding-bottom: 8px !important;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: left;
        font-weight: 600;
    }
  
    .cus_ps_modal_headline {
        font-weight: 300;
        font-size: 13px;
        padding-top: 6px;
        display: block;
    }
  
    .cus_ps_modal_content {
        padding: 0px !important;
    }
  
  
    .cus_main_container {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    
    }
  
  
    .cv_heading {
        background-color: #00acc1;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: #ffffff;
        position: relative;
        text-align: left !important;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0px;
        font-size: inherit;
        color: #757575;
    }
  
    .cv_body_wrapper {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        
        text-align: left;
    }
  
    .cv_content_left {
        width: 70%;
        border-bottom-left-radius: 20px;
        padding: 15px;
        position: relative;
    }
  
    .cv_content_right {
        width: 30%;
        background-color: #f3f3f3;
        border-bottom-right-radius: 20px;
        padding: 15px;
    }
  
    .cv_heading_title {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0px;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        text-transform: capitalize;
    }
  
    .cv_subheading_title {
        padding-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px !important;
        font-weight: 300;
        font-size: 14px;
        padding-top: 2px;
        
    }
  
    hr {
        height: 1px;
        background-color: rgb(0 0 0 / 18%) !important;
        border: none;
        margin: 14px 0px;
    }
  
  
    .cv_section_heading {
        font-weight: 500;
        font-size: 13px;
        color: #535353;
        margin-bottom: 5px;
    }
  
    .cv_section_desc {
        font-weight: 300;
        font-size: 12px;
        color: #535353;
    }
  
    .cv_chip_wrapper {
        padding: 3px 0px;
    }
  
    .cv_chip {
        /* background-color:#00acc1; */
        border-radius: 20px;
        color: #00acc1;
        font-size: 12px;
        padding: 2px 2px;
        font-weight: 400;
        margin: 1px;
        display: inline-block;
    }
  
    .cv_chip:after {
        content: ",";
        font-size: 12px;
        color: #00acc1;
    }
  
    .cv_chip_wrapper>.cv_chip:last-child:after {
        content: " ";
    }
  
    .cv_list_div {
        margin-left: 10px;
        line-height: 16px
    }
  
    .cv_list {
        font-size: 12px;
        color: #929292;
    }
  
    .cv_list a {
        
        font-size: 11px;
        overflow-wrap: anywhere !important;
        /*
        white-space: nowrap;
        width: 280px;
        overflow: hidden;
        text-overflow: ellipsis;
        */
        /*   border: 1px solid #000000; */
    }
    
    p.MuiTypography-root > a{
      overflow-wrap: anywhere !important;
    }

    .cv_list_head {
        font-size: 13px;
        color: #818181;
    }
  
    .cv_content_left_footer {
      background: #fff;
      position: absolute;
      width: 100%;
      right: 0;
      bottom: 0;
      padding: 10px 25px;
      border-bottom-left-radius: 20px;
    }
  
    .cv_content_left_footer>p {
        text-align: left;
        font-size: 11px;
        color: #929292;
    }
  
    .more {
        cursor: pointer !important;
    }
  
    .cv_heading {
        background-color: #00acc1;
    }
  
    .cv_subheading_title {
        color: #ffffff;
    }
  
    .empty_cv {
        display: none;
        text-align: center;
        color: #ffffff;
        padding: 5px;
        margin-bottom: 10px;
        background-color: #FF4081;
        border-radius: 7px;
        font-size: 12px;
    }
  
    /*view profile bio css end here by riay*/
  
  
    /*progress bar button style start here*/
    #cus_personal_btn.js-active::before
    {
      content: "1";
      color: #ffffff;
      border-color: #ff4081;
    }
  
    #cus_edu_btn.js-active::before
    {
      content: "2";
      color: #ffffff;
      border-color: #ff4081;
    }
  
    #cus_work_btn.js-active::before
    {
      content: "3";
      color: #ffffff;
      border-color: #ff4081;
    }
  
    #cus_skills_btn.js-active::before
    {
      content: "4";
      color: #ffffff;
      border-color: #ff4081;
    }
  
    #cus_interest_btn.js-active::before
    {
      content: "5";
      color: #ffffff;
      border-color: #ff4081;
    }
  
    #cus_award_btn.js-active::before
    {
      content: "6";
      color: #ffffff;
      border-color: #ff4081;
    }  
  
  
    #cus_personal_btn::before
    {
      content: "1";
      color: #979ea3;
      border-color: #979ea3;
    }
  
    #cus_edu_btn::before
    {
      content: "2";
      color: #979ea3;
      border-color: #979ea3;
    }
  
    #cus_work_btn::before
    {
      content: "3";
      color: #979ea3;
      border-color: #979ea3;
    }
  
    #cus_skills_btn::before
    {
      content: "4";
      color: #979ea3;
      border-color: #979ea3;
    }
  
    #cus_interest_btn::before
    {
      content: "5";
      color: #979ea3;
      border-color: #979ea3;
    }
  
    #cus_award_btn::before
    {
      content: "6";
      color: #979ea3;
      border-color: #979ea3;
    }  
  
  /*button status done*/
    #cus_personal_btn.cus-js-done::before
    {
      content: "1";
      color: #ffffff;
      border-color: #00acc1;
      background-color: #00acc1;
    }
  
    #cus_edu_btn.cus-js-done::before
    {
      content: "2";
      color: #ffffff;
      border-color: #00acc1;
      background-color: #00acc1;
    }
  
    #cus_work_btn.cus-js-done::before
    {
      content: "3";
      color: #ffffff;
      border-color: #00acc1;
      background-color: #00acc1;
    }
  
    #cus_skills_btn.cus-js-done::before
    {
      content: "4";
      color: #ffffff;
      border-color: #00acc1;
      background-color: #00acc1;
    }
  
    #cus_interest_btn.cus-js-done::before
    {
      content: "5";
      color: #ffffff;
      border-color: #00acc1;
      background-color: #00acc1;
    }
  
    #cus_award_btn.cus-js-done::before
    {
      content: "6";
      color: #ffffff;
      border-color: #00acc1;
      background-color: #00acc1;
    } 
    
    
    #cus_personal_btn.cus-js-done::after
    {
      color: #00acc1;
     }
  
    #cus_edu_btn.cus-js-done::after
    {
      color: #00acc1;
    }
  
    #cus_work_btn.cus-js-done::after
    {
      color: #00acc1;
    }
  
    #cus_skills_btn.cus-js-done::after
    {
      color: #00acc1;
    }
  
    #cus_interest_btn.cus-js-done::after
    {
      color: #00acc1;
    }
  
    #cus_award_btn.cus-js-done::after
    {
      color: #00acc1;
    }
  
    .multisteps-form__progress-btn.cus-js-done
    {
      color: #00acc1;
    }
    /*button status done end here*/
  
    
  
  
    /*progress bar button style end here*/
    .cus_flex_button
    {
      display: flex;
      justify-content: space-between;
    }
  
 
  .cus_input_wrapper
  {
    height: 60vh;
    min-height: 60vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .cus_input_wrapper:hover
  {
    overflow-y: auto;
     padding-right: 1px; 
  }
  
  
  .multisteps-form__panel
  {
    border-radius: 20px !important;
  }
  
  .form-control
  {
    font-size: 12px;
    border-radius: 20px;
  }
  .btn-primary
  {
    background-color: #00acc1;
    border-color: #00acc1;
  }
  .btn{
    border-radius: 20px;
    font-size: 13px;
  }
  .multisteps-form__title {
    font-size: 14px;
    border-bottom: 1px solid #00acc1;
    color: #00acc1;
    padding-bottom: 10px !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  #display_name
  {
    color:#00ACC1 !important;
    text-transform: capitalize;
  }
  
  .multisteps-form__progress-btn
  {
    padding-top: 28px !important;
    font-size: 13px !important;
  }
  
  /*form icons and button*/
  .MuiButtonBase-root {
    color: #00acc1;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    border: 1px solid;
    padding: 1px 10px;
    border-radius: 20px;
    font-size: 12px;
  }
  .MuiButton-label:hover
  {
    background-color: #00acc1;
    color: #ffffff;
  }
  
  .MuiSvgIcon-root {
      fill: currentColor;
      width: 1em;
      height: 1em;
      display: inline-block;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      user-select: none;
  }
  .cus_reset_btn
  {
    float: right;
  }
  
  .cus_field_label {
    margin-bottom: 0px;
    font-size: 12px;
  }
  
  .cus_mandatory_field::after {
    content: "*";
    position: absolute;
    top: 5px;
    font-size: 17px;
    padding: 0px 2px;
    color: #FF4081;
  }
  
  .custom-select
  {
    height: calc(1.8125rem + 2px);
  }
  .cus_apend_btn
    {
      border-top-right-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
      background-color: #ff75a4;
      color: #fff;
      font-weight: 600;
      border-color: #ff75a4;
      padding: 0px;
  }
  .cus_apend_btn:hover
  {
    background-color: #FF4081;
    border-color: #FF4081;
  }
  
  .cus_apend_btn_inner
  {
    padding: 3px 10px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  color: white;
  background-color:transparent;
  }
  
  .chip {
    display: inline-block;
    background-color: rgb(229, 247, 249);
    color: #666;
    padding: 2px 25px 4px 10px;
    font-size: 11px;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
  }
  
  .chip:hover
  {
    background-color: #00acc1;
    color: #ffffff;
  }
  
  .chip > span {
    background-color: #eeeeee;
    cursor: pointer;
    padding: 1px 7px;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    right: 2px;
    color: #f3b7cb;
  }
  .chip > span:hover {
    color: #FF4081;
    background-color: #ffffff;
  }
  
  .btn-light 
  {
    background-color: #FF6197;
    color: #ffffff;
    border-color: #FF6197;
  }
  .btn-light:hover
  {
    background-color: #FF4081;
    color: #ffffff;
  }
  
  .btn-primary
  {
    background-color: #1DB1C4;
    color: #ffffff;
    border-color: #1DB1C4;
  }
  .btn-primary:hover
  {
    background-color: #00ACC1;
    color: #FFFFFF;
    border-color: #FFF;
  }
  
  
  
  /*for webkit start here*/
  /* width */
  .cus_input_wrapper::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }
  /* Track */
  .cus_input_wrapper::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color:transparent; 
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* Handle */
  .cus_input_wrapper::-webkit-scrollbar-thumb {
     background: #dcdbdb; 
    border-radius: 20px;
  }
  /* Handle on hover */
  .cus_input_wrapper::-webkit-scrollbar-thumb:hover {
    background: #afadad; 
  }
  /*for webkit end here*/
  
  
  
  
  /*! Firefox */    
  .cus_input_wrapper{
    scrollbar-color: #dcdbdb transparent;
    scrollbar-track:7px;
  }
  
  /*! Other Browser */
  .cus_input_wrapper {
    --scrollbarBG: #dcdbdb;
    --thumbBG: transparent;
    padding-right: 3px;
  }



  /*cv right panel*/

  /*for webkit start here*/
  /* width */
  #content::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }
  /* Track */
  #content::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color:transparent; 
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* Handle */
  #content::-webkit-scrollbar-thumb {
     background: #dcdbdb; 
    border-radius: 20px;
  }
  /* Handle on hover */
  #content::-webkit-scrollbar-thumb:hover {
    background: #afadad; 
  }
  /*for webkit end here*/
  
  
  
  
  /*! Firefox */    
  #content{
    scrollbar-color: #dcdbdb transparent;
    scrollbar-track:7px;
  }
  
  /*! Other Browser */
  #content {
    --scrollbarBG: #dcdbdb;
    --thumbBG: transparent;
    
  }


  
  .cus_skip_to_home_btn
  {
    text-align: right;
    color: #00acc1;
    display: block;
    float: right;
  }
  .cus_skip_to_home_btn:hover
  {
    color: #00ACC1;
  }
  
  .cus_note
  {
    text-align: right;
    font-size: 13px;
    color: #FF4081;
  }
  
  .cus_logo_on_bd
  {
    float: left;
  }
  @media only screen and (max-width: 768px)
  {
  .cus_logo_on_bd
    {
      display: block;
      float: unset;
      margin: auto;
      margin-bottom: 15px;
    }
   
    .popup_heading
    {
      font-size: 1.4rem !important;
    }
  
  }
  
  @media only screen and (max-width: 760px)
  {
    #view_profile_wraper {
      display: block !important;
  }
  #cus_right_cv_view
  {
  display: none;
  }
  
  
  
  /*progress bar style start here*/
  .multisteps-form__progress-btn {
    padding-top: 25px !important;
    font-size: 13px !important;
    min-width: 107px !important;
    position: relative;
    margin-top: 16px;
    text-align: center !important;
    display: flex;
    justify-content: center;
  }
  .multisteps-form__progress {
    display: flex !important;
    overflow-y: auto !important;
  }
  /*progress bar style end here*/
  
  
  .header__title
  {
    font-size: 20px;
  }
  }
  
  #new_cus_card_right
  {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    border-radius: 20px;
  }
  
 
  
  #view_profile_wraper {
    position: fixed;
    z-index: 9;
    display: none;
    margin: 20px;
  }
  
  .view_profile {
    width: 60px;
    height: 60px;
    background: #ffffff;
    color: #737373;
    border-radius: 50%;
    font-size: 11px;
    cursor: pointer;
    border: 2px solid #00acc159;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
    display: flex !important;
    align-items: center;
    text-align: center;
  }
  
  .view_profile:hover {
    background-color: #00acc121;
    border: 2px solid #00acc1;
  }
  
  /*education details style start here*/
  .MuiListItem-root {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    /* padding-top: 8px; */
    /* padding-bottom: 8px; */
    justify-content: flex-start;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid #d7d7d7;
    margin: 8px 0px;
    padding: 0px 10px;
  }
  
  .MuiListItemIcon-root {
    color: rgba(0, 0, 0, 0.54);
    display: inline-flex;
    min-width: 56px;
    flex-shrink: 0;
  }
  
  .MuiAvatar-root {
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    line-height: 1;
    user-select: none;
    border-radius: 0%;
    justify-content: center;
  }
  
  .MuiAvatar-img {
    color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    text-indent: 10000px;
  }
  .MuiListItemText-root {
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  .MuiTypography-body1 {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .MuiTypography-displayBlock {
    display: block;
  }
  
  .MuiTypography-body2 {
    font-size: 12px;
    color: #686868;
    font-weight: 400;
    line-height: 1.25;
  }








  /*WILLIAM TEST CSS */

span.new_cv_email_phone {
  display: inline-block;
  color: #ffffff;
  text-align: right;
  padding-right: 15px;
  padding-bottom: 10px;
  font-size: 13px;
}

p#cv_subheading_title {
  display: inline-block;
  float: left;
  text-align: left;
  margin-bottom: 10px !important;
}
.cus_mob_em_wrapper {
  text-align: right;
}
.cv_heading_wrapper_cus {
  display: block;
}

p#display_name {
  display: inline-block !important;
}

/*the container must be positioned relative:*/
.autocomplete {
/*position: relative;*/
/*display: inline-block;*/
}


.autocomplete-items {
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: none;
border-top: none;
z-index: 99;
/*position the autocomplete items to be the same width as the container:*/
top: 100%;
left: 0;
right: 0;
}

.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff; 
border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
background-color: DodgerBlue !important; 
color: #ffffff; 
}

.add_chip_btn {
  float: right;
  top: 20px;
  right: 8px;
  position: absolute;
  z-index: 1;
  background-color: #ff75a4;
  border-color: transparent;
  color: #ffffff;
  height: 29px;
  width: 29px;
  border-radius: 50%;
}

.add_chip_btn:hover
{
  background-color: #FF4081;
  color: #ffffff;
}
button.cus_elementor_save_btn , button#educationBtn , button#workExperienceBtn , button#awardAchievementBtn
{
  background-color:#FF4081 !important; 
}

.chip{
 display: inline-block;
  background-color: rgb(229, 247, 249);
  color: #666;
  padding: 5px 25px 4px 10px;
  font-size: 11px;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative;
}




.chip > a {
      font-size: 11px;
  color: #666;
}

.chip > a:hover
{
  color: #666;
}

.save-btn {
  cursor:pointer; width:100%;background-color:#00acc1
}





/*for record listing out*/


.MuiListItem-root
{
width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  /*padding-top: 8px;*/
  /*padding-bottom: 8px;*/
  justify-content: flex-start;
  text-decoration: none;
}

.MuiListItemIcon-root
{
color: rgba(0, 0, 0, 0.54);
  display: inline-flex;
  min-width: 56px;
  flex-shrink: 0;
}

.MuiAvatar-square {
  border-radius: 0;
}

.MuiAvatar-root {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  line-height: 1;
  user-select: none;
  border-radius: 0%;
  justify-content: center;
}

.MuiAvatar-img {
  color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  text-indent: 10000px;
}

.MuiListItemText-multiline {
  margin-top: 6px;
  margin-bottom: 6px;
}

.MuiListItemText-root {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

.MuiTypography-displayBlock {
  display: block;
}





.MuiIconButton-colorSecondary {
  color: #00acc1;
  display:block;
}

.MuiIconButton-root {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 0px;
  margin: 5px;
  overflow: visible;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 0%;
}

.MuiIconButton-label {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.MuiIconButton-colorSecondary {
  color: #00acc1;
  border: 0px;
}

.jss49 {
  top: 0px;
  float: right;
  right: 0px;
  display: inline;
  position: absolute;
}

.MuiButton-outlinedSizeSmall {
  padding: 3px 9px;
  font-size: 0.8125rem;
}

.MuiButton-outlinedSecondary {
  color: #00acc1;
  border: 1px solid rgba(0, 172, 193, 0.5);
}

.MuiButton-outlined {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 5px 15px;
}

.MuiButton-root {
  color: #212121;
  padding: 6px 16px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.MuiButtonBase-root {
  color: #00acc1;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  border: 1px solid;
  padding: 0px 5px;
  border-radius: 5px;
}

.MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
/*for record listing out*/







/*for snackbar css*/

#snackbar {
visibility: hidden;
min-width: 320px;
color: #fff;
text-align: center;
border-radius: 20px;
padding: 15px 20px;
position: absolute;
z-index: 99999;
left:0px;
bottom: 20px;
font-size: 13px;
 box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

#snackbar.success {
visibility: visible;
color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.error {
visibility: visible;
color: #721c24;
background-color: #f8d7da;
  border-color: #f5c6cb;
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;} 
to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;} 
to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}

/*for snackbar css */



/*custome popup css*/

.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;

opacity: 01;
overflow-y:scroll;
    z-index: 99999;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.popup {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 20px;
width: 40%;
position: relative;
transition: all 0.5s ease-in-out;
}

.popup h2 {
margin-top: 0;
color: #333;
}
.popup .cus_close {
transition: all 200ms;
font-size: 13px;
text-decoration: none;
background-color: #00acc1;
padding: 10px 15px;
border-radius: 20px;
color: #fff !important;
display: inline-block;
margin-top: 10px;
cursor: pointer;
width: 112px;
}
.popup .cus_close:hover {
color: #ffffff !important;
}
.popup .content {
text-align: center;
position: relative;
}
img.popup_dojoko_logo {
  position: absolute;
  width: 55px;
  left: 0px;
}
.do_it_later
{
  cursor:pointer;
   transition: all 200ms;
font-size: 13px;
text-decoration: none;
padding: 8px 15px;
border-radius: 20px;
color: #00acc1;
display: inline-block;
border: 2px solid #e2e2e2;
margin-top: 10px;
width: 112px;
text-decoration: none !important;
  
}
.do_it_later:hover
{
  border: 2px solid #00acc1;
  color: #00acc1 !important;
}

.popup_heading
{
  color: #FF4081;
  font-size: 2rem ;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 67px;
  text-align: left;
}

.popup_desc
{
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: #757575;
  margin-bottom: 15px;
  font-size: 13px;
  text-align: left;
   padding-left: 67px;
   text-align:center;
}


.beta_info_desc
{
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: #757575;
  margin-bottom: 15px;
  font-size: 13px;
  text-align: left;
}

/*start datepicker*/

.datepicker{
  max-width: 100% !important;
  position: absolute !important;
}

.table-condensed{
  /*background-color: #effdff !important;*/
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled, .datepicker table tr td span.disabled, .datepicker table tr td span.disabled {
  background-color: rgba(204, 204, 204, 0.32) !important;
}


/*end datepicker*/


@media screen and (max-width: 700px){
.box{
  width: 70%;
}
.popup{
  width: 70%;
}
}

.extract
{
  transition: all 200ms;
  font-size: 12px;
  text-decoration: none;
  background-color: #FF4081;
  padding: 1px 15px;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #00acc1;
  float: right;
  margin-right: 18px;
  margin-top: 5px;
}

.warning_info{
  color: #FF4081;
  float: right;
  font-weight: 500;
  font-size: 12px;
}

ul.fixed-bottom-menu
{
  display: none;
}

.ql-container.ql-snow {
  height: auto;
  /*padding-bottom: 35px;*/
  border: 1px solid #00acc1 !important;
  border-radius: 0px 0px 15px 15px;
}

.ql-toolbar.ql-snow {
  border: 1px solid #00acc1 !important;
  padding: 3px !important;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px !important;
}

.ql-container.ql-snow:hover, .ql-toolbar.ql-snow:hover
{
  border: 1px solid #FF4081 !important;
}

.ql-container.ql-snow:hover ~ .ql-toolbar.ql-snow {
  border: 1px solid #FF4081 !important;
}

.ql-toolbar.ql-snow:hover ~ .ql-container.ql-snow {
  border: 1px solid #FF4081 !important;
}

.ql-blank
{
  padding-bottom: 35px !important;
}

.ql-editor a {
  text-decoration: underline !important;
  }
  
.ql-blank::before{
  color: #c1c1c1 !important;
  font-style: normal !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before, .ql-snow .ql-picker.ql-size .ql-picker-item::before {
 content: attr(data-value) !important;
}

.ql-snow .ql-tooltip, .ql-snow .ql-picker.ql-expanded .ql-picker-options {
   z-index: 9 !important;
}

/* .skip_to_home
{
   position: absolute;
  top: 70px;
  right: 7px;
} */
  
  .flexbox
  {
    background: #ffffff73;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 9;
  }

  .container.overflow-hidden
  {
    position: relative;
  }

  .cus_personal_info_btn
  {
    justify-content: flex-end !important;
  }

  #content
  {
    border-radius: 20px;
    /* padding-right: 19px; */
  }

  #content:hover
  {
    overflow-y: auto !important;
    /* position: absolute; */
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    /* padding-right: 9px !important; */
    width: 100%;
}

  .dark_cv_heading {
    background-color: #000000 !important;
  }

  .dark_cv_content_right {
    background-color: #000000 !important;
}

.dark_cv_main_container {
  background-color: #242427 !important;
}

.dark_multisteps-form__panel
{
  background-color: #242427 !important;
}

.dark_cv_section_heading
{
  color: #fff !important;
}

.gc-preset--gecko_dark_mode
{
  background-color: #161616 !important;
}



.dark_cus_field_label
{
  color: #ffffff !important;
}

.dark_cv_content_left_footer
{
  background-color: #242427 !important;
}

input,select,textarea
{
  background-color: transparent !important;
  border: 1px solid #00acc1 !important;
  outline: none !important;
}

input:hover
{
  border-color: #FF4081 !important;
}

select:hover
{
  border-color: #FF4081 !important;
}

textarea:hover
{
  border-color: #FF4081 !important;
}

div.dark_cus_chip_div > span.chip{
  background-color: #444444;
  color: #ffffff !important;
}

div.dark_cus_chip_div > span.chip:hover
{
  background-color: #00acc1 !important;
}

.dark_multisteps-form__progress-btn::before
{
  background-color: #000000 ;
}

.dark_multisteps-form__title
{
  background-color: #000000 !important;
}

.dark_cus_form_footer_wrapper
{
  background-color: #000000 !important;
}

.cus_form_footer_wrapper
{
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.dark_flexbox
{
  background-color: #000000a6 !important;
}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock {
  color: #757575 !important;
}

.dark_popup
{
  background-color: #242427 !important;
}

.dark_view_profile
{
  background-color: #000000 !important;
  color: #c6c6c6 !important;
}

.dark_complete > div.autocomplete-items > div {
  background-color: #000000 ;
  color: #ffffff ;
}

.dark_autocomplete > div.autocomplete-items > div
{
  background-color: #000000 ;
  color: #ffffff ;
}

.dark_complete > div.autocomplete-items > div:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.dark_autocomplete > div.autocomplete-items > div:hover
{
  background-color: #ffffff !important;
  color: #000000 !important;
}


input.dark_input_text, select.dark_input_select, textarea.dark_input_textarea {
  background: #242427 !important;
  color: #c1c1c1 !important;
}

.form-control::placeholder
{
  color: lightgray ;
}

input.dark_input_text::placeholder, select.dark_input_select::placeholder, textarea.dark_input_textarea::placeholder
{
  color: #484848 !important;
}

.form-control, .custom-select
{
  color: #242427 ;
}

input#form-field-email , input#form-field-dob {
  background-color: rgba(204, 204, 204, 0.32) !important;
}

.multisteps-form__content:hover > .cus_input_wrapper 
{
      overflow-y: auto;
     padding-right: 15px; 
}

.multisteps-form__content:hover 
{
  padding-right: 4px !important;
}

.js-btn-prev, .js-btn-next , .add_more_btn {
  width: 112px;
}

.form-control:focus
{
  box-shadow: none !important;
}

.add_more_btn {
  background: transparent;
  color: #ff4081 ;
  border-color: #ff4081;
}

.add_more_btn:hover
{
  background-color: #ff4081 !important;
  color: #ffffff !important;
}

.cus_input_inside {
  min-height: 60vh;
}

.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  color: #757575 !important;
}

.ql-editor
{
  color: #757575;
  font-size: 12px !important;
}